.bd-placeholder-img
{
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px)
{
  .bd-placeholder-img-lg
  {
    font-size: 3.5rem;
  }
}

.b-example-divider
{
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr
{
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi
{
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller
{
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav
{
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/* =========================================== */
/* PAGE 'rendezvous.php' */
/* DEBUT */

.gille_patient
{
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0px 100px 0px 0px;
  margin: 0px 0px 40px 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

.table_rendezvous, .table_rendezvous td, .table_rendezvous th
{
    border: 1px solid;
}
.table_rendezvous
{
    border-collapse: collapse;
}
.table_rendezvous th, .table_rendezvous td
{
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.table_rendezvous tr:hover
{
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

.table_rendezvous tr:active
{
  background-color: rgb(222, 222, 222);
}


.gille_nouveau_rendezvous
{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px 1000px 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    column-gap: 10%;
}
.cellule_nouveau_rendezvous
{
    padding: 0px 0px 20px 0px;
}

.informations_rendezvous
{
  width: 500px;
  resize: none;
}
.observation_rendezvous
{
  width: 500px;
  height: 120px;
  resize: none;
}

.erreur_rendezvous
{
  color: brown;
  font-size: 16px;
}

/* FIN */
/* PAGE 'rendezvous.php' */
/* =========================================== */



/* =========================================== */
/* PAGE 'personnel.php' */
/* DEBUT */

.gille_nouveau_personnel
{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px 600px 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    column-gap: 10%;
}
.cellule_nouveau_personnel
{
    padding: 0px 0px 20px 0px;
}

.informations_nouveau_patient
{
  width: 250px;
}

/* FIN */
/* PAGE 'personnel.php' */
/* =========================================== */



/* =========================================== */
/* PAGE 'patient_nouveau.php' */
/* DEBUT */

.gille_nouveau_patient
{
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px 1000px 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    column-gap: 10%;
}
.cellule_nouveau_patient
{
    padding: 0px 0px 20px 0px;
}

/* FIN */
/* PAGE 'patient_nouveau.php' */
/* =========================================== */